body {
    font-family: 'Roboto', sans-serif;
}

.MainTitle {
    font-size: 30px;
    color: aliceblue;
    width: 100%;
    background: #ff7200;
    align-self: center;
}

button {
    background-color: #e7e7e7; color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: #008CBA;
}

.SearchStringModule:hover {
    border: 2px solid #ff7200;
}

.SearchStringModule:focus {
    background-color: #008CBA;
}

.separator {
    color: darkgray;
}

table {
    border-collapse: collapse;
}
tr {
    border: none;
}
td {
  border-right: solid 1px darkgray;
  border-left: solid 1px darkgray;
}