<!DOCTYPE html>
<html lang="en">

<head>
    <title>MOOD - App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <script src="static/js/jquery-3.3.1.min.js" ></script>
    <script src="static/js/sendData.js" ></script>
    <script src="static/js/stopCrawlers.js"></script>

</head>

<body>
<h2 class="MainTitle">MOOD APP</h2>
<div>
    <table class="ModuleTable">
        <tr>
            {% for module in moduleNames %}
            <th>{{module.name}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for module in moduleNames %}
            <td>
                <form>
                <label><input type="text" placeholder="SUCHE" name="search1" id={{module.name}}></label>
                </form>
            </td>
            {% endfor %}
        </tr>
    </table>
</div>
<button id="buttonStart" type="button" onclick=sendData()>SUBMIT CRAWL REQUESTS</button>
<button id="buttonStop" type="button" onclick=stopCrawlers()>STOP ALL CRAWLERS</button>
</body>
</html>